/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Merriweather', serif;
  padding: 0 1rem;
}

/*
############
Container
############
*/

.container {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
}

/*
############
Typography
############
*/

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

/*
############
Header
############
*/

header {
  margin-top: 120px;
  padding-bottom: 50px;
  border-bottom: 1px solid lightgray;
}

header p {
  font-weight: 500;
  margin-top: 10px;
}

/*
############
Feature post
############
*/

.feature-post {
  display: flex;
  margin-top: 25px;
  margin-bottom: 50px;
}

.feature-post > img {
  width: 100%;
  max-width: 65%;
  height: auto;
  margin-right: 30px;
}

/*
############
Post text
############
*/

.post-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.post-link p {
  margin-top: 15px;
}

/*
############
post marker
############
*/

.post-marker {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.post-marker > img {
  width: 100%;
  max-width: 50px;
  height: auto;
  margin-right: 30px;
  border-radius: 100%;
}

/*
############
old posts
############
*/

.old-section {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.old-post {
  display: flex;
  flex-direction: column;
  width: 30%;
  max-width: 350px;
}

.old-post > img {
  width: 100%;
  height: auto;
  margin-right: 30px;
}
